:root {
    --color-background: #FFFFFF;
    --color-primary: #52bf90;
    --color-primary-message: #04D361;
    --color-secundary: #419873;
    --color-secundary-dark: #317256;
    --color-text-title: #013220;
    --color-text-base: #011910;
}

body {
    background-color: var(--color-background);
}

body, input, button {
    font: 500 1.6rem Lato;
    color: var(--color-text-base);
}